{% extends 'base.html.twig' %}

{% block title %}Author index{% endblock %}

{% block body %}
<h1>Author index</h1>

<table class="table table-striped table-hovred">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Biography</th>
            <th>Birthdate</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for author in authors %}
        <tr>
            <td>{{ author.id }}</td>
            <td>{{ author.name }}</td>
            <td>{{ author.biography|u.truncate(50,'...') }}</td>
            <td>{{ author.birthdate ? author.birthdate|date('Y-m-d') : '' }}</td>
            <td>
                <a href="{{ path('app_author_show', {'id': author.id}) }}" class='btn btn-success'>show</a>
                <a href="{{ path('app_author_edit', {'id': author.id}) }}" class='btn btn-warning'>edit</a>
                <a href="{{ path('app_author_delete', {'id': author.id}) }}" class='btn btn-danger'>delete</a>

            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="navigation flex justify-center mb-8">
    <ul class="pagination">

        {{ knp_pagination_render(authors)}}

    </ul>
</div>
<a href="{{ path('app_author_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}