{% extends 'base.html.twig' %}

{% block title %}Borrower{% endblock %}

{% block body %}
    <h1>Borrower</h1>

    <table class="table table-striped table-hovredtable">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ borrower.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ borrower.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ borrower.email }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ borrower.phoneNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_borrower_index') }}" class='btn btn-info'>back to list</a>

    <a href="{{ path('app_borrower_edit', {'id': borrower.id}) }}" class='btn btn-warning'>edit</a>

    <a href="{{ path('app_borrower_delete', {'id': borrower.id}) }}" class='btn btn-danger'>delete</a>
{% endblock %}
